body {
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	font-style: normal;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-size: 100%;
	background-color: #202020;
}

ol, ul {
    list-style: none;
}

:root {

	--primary-accent-color: #6200ff;

}